RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.cur.me [NC]
RewriteRule ^(.*)$ http://cur.me/$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^.*/index.*
RewriteRule ^(.*)index.php$ /$1 [R=301,L]
RewriteRule ^(.*/)?\.git+ - [F,L]
RewriteRule ^php/.*$ 404.php [L]

# prevent access to PHP error log
<FilesMatch errors.log|.htaccess|.user.ini>
 Order allow,deny
 Deny from all
 Satisfy All
</FilesMatch>
